html {
  scroll-behavior: smooth;
}

body {
  font-family: Lato, sans-serif;
  color: #424551;
}

:focus-visible {
  outline: 2px solid #f73d05;
  outline-offset: 2px;
}

.container {
  max-width: 1260px;
  padding-inline: 15px;
  margin-inline: auto;
}

.main__about {
  padding-top: 179px;
  padding-bottom: 179px;
}

.main__statistic {
  padding-bottom: 161px;
}

.main__directions {
  padding-bottom: 148px;
}

.button {
  line-height: 325%;
  padding: 0px 40px;
  border-radius: 4px;
  background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
  letter-spacing: 0.03em;
  color: #fff;
  font-weight: 700;
  border: none;
  white-space: nowrap;
  transition: all .3s;
  cursor: pointer;
}

.button--empty {
  position: relative;
  line-height: 325%;
  padding: 0px 40px;
  border-radius: 4px;
  background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.03em;
  font-weight: 700;
  border: none;
  white-space: nowrap;
  transition: all .3s;
  cursor: pointer;
}

.button--empty::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 4px;
  padding: 2px;
  background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.button--empty:hover {
  transform: scale(105%);
}

.button:hover {
  transform: scale(105%);
}

.heading {
  color: #1e212c;
}

.heading--center {
  text-align: center;
}

.heading__subtitle {
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.heading__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
}

.card {
  max-width: 390px;
}


/* -------------------------------------------------------------------- HEADER ----------------------------------------------------------------------- */

.header {
  font-weight: 700;
  background: url(../images/decor/shapes-bg.svg) center/ cover no-repeat, linear-gradient(45deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
  height: 100vh;
  display: flex;
  flex-direction: column;

}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

.header__logo {
  margin-right: 60px;
  flex-shrink: 0;
  width: 130px;
}


.header__nav {
  margin-right: auto;
}

.header__nav-list {
  display: flex;
  gap: 40px;
}

.header__nav-link {
  line-height: 160%;
  white-space: nowrap;
  transition: all .3s;
}

.header__nav-link:hover,
.header__user-btn:hover {
  color: #ff3f3a;
}

.header__btn-box {
  display: flex;
  align-items: center;
}

.header__top-btn {
  margin-right: 36px;
}

.header__user-nav {
  position: relative;
  white-space: nowrap;
  padding-left: 28px;
}

.header__user-nav::before {
  content: '';
  position: absolute;
  display: block;
  background: url(../images/icons/Person.svg);
  width: 20px;
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.header__user-btn {
  line-height: 160%;
  transition: all .3s;
}

/* -------------------------------------------------------------- */

.header__body {
  margin: auto 0;
}

.header__body-inner {
  display: flex;
  justify-content: space-between;
  color: #1e212c;
}

.header__body-content {
  margin-right: 30px;
}

.header__play {
  display: inline-flex;
  align-items: center;
  margin-bottom: 40px;
}

.header__play-icon {
  margin-right: 16px;
  position: relative;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__play-icon::before {
  content: '';
  position: absolute;
  width: 84px;
  height: 84px;
  background-color: #ff3f3a;
  opacity: 0;
  border-radius: 100%;
  z-index: -1;
  transition: all 0.3s;
}

.header__play:hover .header__play-icon::before {
  opacity: 0.12;
}

.header__title {
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 0.02em;
  max-width: 500px;
  margin-bottom: 60px;
}

.header__content-buttons {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: auto;
}

.header__row-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1e212c;
  padding-bottom: 4vh;
}

.header__row-item {
  display: flex;
  align-items: center;
}

.header__row-item-number {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  margin-right: 12px;
}

.header__row-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.header__row-list>span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ff3f3a;
  margin: 15px;
}

/* about----------------------------------------------------------- */

.about {
  color: #1e212c;
}

.about__inner {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.about__content {
  max-width: 600px;
  margin-right: 15px;
  position: relative;
}

.about__content::before {
  content: "";
  position: absolute;
  background-image: url(../images/decor/1.svg);
  width: 100px;
  height: 85px;
  top: -50px;
  right: -760px;
}

.about__heading {
  margin-bottom: 48px;
}

.about__description--bold {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 24px;
}

.about__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  margin-bottom: 60px;
}

.about__btn-box {
  display: flex;
  gap: 24px;
}

/* statistic-------------------------------------------------------------------------- */

.statistic__inner {
  display: flex;
  justify-content: space-between;
}

.statistic__inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.statistic__numbers {
  margin-left: 15px;
}

.statistic__numbers {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-self: center;
}

.statistic__item {
  display: flex;
  align-items: center;
}

.statistic__number {
  font-weight: 900;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #ff3f3a;
  margin-right: 16px;
}

.statistic__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #1e212c;
  text-wrap: nowrap;
}

/* directions------------------------------------------------------------------------------------------ */

.directions {
  background: url(../images/decor/directions-bg.svg) no-repeat 50% 20px;
}

.directions__heading--center {
  margin-bottom: 90px;
  position: relative;
}

.directions__nav {
  max-width: 767px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 45px;
}

.directions__nav input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
}

.directions__nav-item {
  border: 1px solid #9a9ca5;
  border-radius: 4px;
  padding: 1px 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #9a9ca5;
  white-space: nowrap;
  cursor: pointer;
  transition: background-color 0.3s;
}

.directions__nav-item:hover {
  background-color: #f1f1f1;
}

.directions__nav input:checked+.directions__nav-item {
  background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
  color: #fff;
}

.directions__card {
  display: block;
  border: 1px solid #e5e8ed;
  border-radius: 4px;
  max-width: 390px;
  margin-bottom: 30px;
}

.directions__card:nth-child(3n+1),
.directions__card:nth-child(3n+2) {
  margin-right: 30px;
}

.directions__cards {
  display: flex;
  flex-wrap: wrap;
}

.directions__img {
  border-radius: 4px;
}

.directions__img img {
  border-radius: 4px;
  object-fit: cover;
}

.directions__card:not(.directions__card--empty):hover {
  box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.03), 0 12px 10px -6px rgba(154, 156, 165, 0.04), 0 30px 24px -10px rgba(154, 156, 165, 0.05), 0 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.directions__card-content {
  padding: 24px;
}

.directions__teg {
  border-radius: 4px;
  padding: 1px 8px;
  font-weight: 700;
  line-height: 160%;
  color: #fff;
  display: inline-block;
  margin-bottom: 20px;
}

.directions__card--marketing .directions__teg {
  background-color: #03cea4;
}

.directions__card--management .directions__teg {
  background-color: #5a87fc;
}

.directions__card--hr .directions__teg {
  background-color: #f89828;
}

.directions__card--design .directions__teg {
  background-color: #f52f6e;
}

.directions__card--development .directions__teg {
  background-color: #7772f1;
}

.directions__text {
  font-weight: 400;
  line-height: 160%;
  color: #787a80;
  margin-bottom: 20px;
}

.directions__check {
  display: inline-block;
  font-weight: 700;
  line-height: 160%;
  color: #1e212c;
  position: relative;
}

.directions__check::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url(../images/icons/arrow-right.svg);
  right: -32px;
  top: 1px;
}

.directions__card--empty {
  border-radius: 4px;
  width: 390px;
  height: 420px;
  background: #f4f5f6;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #424551;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.directions:has(#marketing:checked) li:not(.directions__card--marketing):not(.directions__card--empty) {
  display: none;
}

.directions:has(#management:checked) li:not(.directions__card--management):not(.directions__card--empty) {
  display: none;
}

.directions:has(#hr:checked) li:not(.directions__card--hr):not(.directions__card--empty) {
  display: none;
}

.directions:has(#design:checked) li:not(.directions__card--design):not(.directions__card--empty) {
  display: none;
}

.directions:has(#development:checked) li:not(.directions__card--development):not(.directions__card--empty) {
  display: none;
}

.directions__card:hover .directions__img {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/* certificate-------------------------------------------------------------------------------------------------- */

.main__certificate {
  margin-bottom: -80px;
}

.certificate__inner {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.certificate__inner::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url(../images/decor/4.svg);
  top: -13px;
  left: -202px;
}

.certificate__content {
  max-width: 392px;
  margin-right: 30px;
}

.certificate__heading {
  margin-bottom: 48px;
}

.certificate__text {
  font-weight: 400;
  line-height: 160%;
  color: #424551;
  margin-bottom: 32px;
}

.certificate__organizations-icons {
  display: flex;
  gap: 40px;
}

.certificate__immmage {
  box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.05), 0 12px 10px -6px rgba(154, 156, 165, 0.08), 0 30px 24px -10px rgba(154, 156, 165, 0.1), 0 80px 80px -20px rgba(154, 156, 165, 0.16);
}

.certificate__immmage img {
  border-radius: 4px;
}

/* ======================================================================= TEAM =================================================================== */

.team {
  background: url(../images/decor/team-bg.svg) #f4f5f6 no-repeat calc(50% + 140px) calc(50% + -120px);
  color: #424551;
}

.main__team {
  padding-top: 166px;
}

.team__heading {
  margin-bottom: 60px;
}

.team__slider {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.team__socials {
  display: none;
}

.team__image-box {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 16px;
}

.team__image-box::after {
  content: "";
  position: absolute;
  background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.77) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1e212c 100%);
  inset: 0;
  opacity: 0;
  transition: opacity 0.5s;
}

.team__slide:hover .team__image-box::after {
  opacity: 1;
}

.team__socials {
  display: flex;
  gap: 12px;
  align-items: center;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}

.team__slide:hover .team__socials {
  opacity: 1;
}

.team__socials-link:hover path {
  transition: fill 0.3s;
}

.team__socials-link:hover path {
  fill: #fff;
}

.team__info {
  text-align: center;
}

.team__info-name {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 4px;
}

.team__info-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787a80;
}

/* ======================================================================= TESTIMONIALS ============================================================ */

.testimonials {
  background: url(../images/decor/testi-bg.svg) #f4f5f6 no-repeat calc(50% + 100px) calc(50% + 55px);
}

.main__testimonials {
  padding-top: 180px;
  padding-bottom: 255px;
}

.testimonials__heading {
  margin-bottom: 60px;
}

.testimonials__container {
  border-radius: 4px;
  max-width: 1020px;
  box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.03), 0 12px 10px -6px rgba(154, 156, 165, 0.04), 0 30px 24px -10px rgba(154, 156, 165, 0.05), 0 80px 80px -20px rgba(154, 156, 165, 0.08);
  background: #fff;
  margin-inline: auto;
  border: 1px solid transparent;
  position: relative;
  padding: 64px 105px;
}

.testimonials__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.testimonials__arrow::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: #FF3F3A;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  transition: transform 0.3s;
  z-index: -1;
}

.testimonials__arrow svg path {
  transition: fill 0.3s;
}

.testimonials__prev {
  left: -101px;
}

.testimonials__next {
  right: -81px;
}

.testimonials__prev:hover svg path,
.testimonials__next:hover svg path {
  fill: #fff;
}

.testimonials__arrow:hover::after {
  transform: translate(-50%, -50%) scale(1);
}

.testimonials__inner {
  margin-inline: 30px;
}

.testimonials__box {
  padding-left: 58px;
}

.testimonials__text {
  font-weight: 400;
  font-size: 20px;
  color: #424551;
  margin-bottom: 24px;
  position: relative;
}

.testimonials__text::before {
  content: "";
  position: absolute;
  background-image: url(../images/icons/quote-icon.svg);
  width: 28px;
  height: 20px;
  top: 0px;
  left: -58px;
}

.testimonials__user-card {
  display: flex;
}

.testimonials__avatar {
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.testimonials__user-info {
  margin-block: auto;
}

.testimonials__user-name {
  font-weight: 700;
  line-height: 160%;
  color: #1e212c;
  margin-bottom: 4px;
}

.testimonials__user-position {
  font-weight: 400;
  font-size: 14px;
  color: #787a80;
}

/* ---------------------------------------------------------- COMPANIES ----------------------------------------------------------------------------- */

.companies {
  background-color: #f4f5f6;
}

.companies__grid {
  position: relative;
}

.companies__grid::before {
  content: "";
  background: url(../images/decor/5.svg);
  position: absolute;
  width: 90px;
  height: 90px;
  top: 217px;
  left: -200px;
}

.main__companies {
  padding-bottom: 177px;
}

.companies__heading {
  margin-bottom: 60px;
}

.companies__grid {
  display: grid;
  grid-template: repeat(2, auto) / repeat(6, 1fr);
  gap: 40px 102px;
}

.companies__grid-link {
  display: block;
}

.companies__grid img {
  filter: grayscale(1);
  opacity: 0.4;
  transition: all 1.3s;
}

.companies__grid-link:hover img {
  filter: grayscale(0);
  opacity: 1;
  transition: all 0.3s;
}

/* ------------------------------------------------------------ PROGRAMM --------------------------------------------------------------------------- */

.main__programm {
  padding-top: 116px;
  padding-bottom: 186px;
}

.programm__heading {
  margin-bottom: 60px;
}

.programm_inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.programm__content {
  max-width: 600px;
  margin-right: 15px;
}

.programm__summary {
  display: flex;
  cursor: pointer;
  padding-block: 12px;
  padding-left: 40px;
}

.programm__lesson-number {
  display: inline-block;
  margin-right: 8px;
  font-weight: 400;
  font-size: 20px;
  color: #ff3f3a;
  position: relative;
}

.programm__lesson-number::before {
  content: "";
  position: absolute;
  background-image: url(../images/icons/Plus.svg);
  top: 50%;
  left: -40px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  transition: all 0.3s;
}

.programm__lesson[open] .programm__lesson-number::before {
  transform: translateY(-50%) rotate(45deg);
}

.programm__lesson-name {
  font-weight: 700;
  font-size: 20px;
  color: #1e212c;
}

.programm__lesson-content {
  padding: 4px 0 12px 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}

.programm__lesson::details-content {
  opacity: 0;
  transition:
    opacity 600ms,
    content-visibility 600ms allow-discrete;
}

.programm__lesson[open]::details-content {
  opacity: 1;
}

/* ----------------------------------------------------------------- BLOG --------------------------------------------------------------------------- */

.main__blog {
  margin-bottom: 213px;
}

.blog__header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 60px;
}

.blog__heading {
  margin-right: 30px;
}

.blog__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  max-width: 390px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  position: relative;
  transition: all 0.3s;
}

.card:hover {
  box-shadow: 0px 30px 30px 10px rgba(101, 103, 109, 0.08);
}

.card__link::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
}

.card__img-box {
  border-radius: 4px;
  margin-bottom: 16px;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.blog__card--podcast .card__img-box::after {
  content: "Podcast";
  position: absolute;
  top: 12px;
  left: 12px;
  padding-inline: 28px 8px;
  background-color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  border-radius: 4px;
}

.blog__card--podcast .card__img-box::before {
  content: "";
  position: absolute;
  background: url(../images/icons/podcast-icon.svg) center / contain no-repeat;
  width: 12px;
  height: 16px;
  top: 14.5px;
  left: 21px;
  z-index: 1;
}

.blog__card--video .card__img-box::after {
  content: "Video";
  position: absolute;
  top: 12px;
  left: 12px;
  padding-inline: 28px 8px;
  background-color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  border-radius: 4px;
}

.blog__card--video .card__img-box::before {
  content: "";
  position: absolute;
  background: url(../images/icons/play-mini-icon.svg) center / contain no-repeat;
  width: 15px;
  height: 15px;
  top: 15px;
  left: 20px;
  z-index: 1;
}

.blog__card--article .card__img-box::after {
  content: "Article";
  position: absolute;
  top: 12px;
  left: 12px;
  padding-inline: 28px 8px;
  background-color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  border-radius: 4px;
}

.blog__card--article .card__img-box::before {
  content: "";
  position: absolute;
  background: url(../images/icons/article-icon.svg) center / contain no-repeat;
  width: 12px;
  height: 15px;
  top: 15.5px;
  left: 21.5px;
  z-index: 1;
}

.card__meta {
  display: flex;
  gap: 48px;
  font-size: 14px;
  color: #787a80;
  margin-bottom: 8px;
  align-items: center;
}

.card__category {
  font-weight: 700;
}

.card__time {
  position: relative;
}

.card__time::before {
  content: "";
  position: absolute;
  border: 1px solid #787a80;
  width: 12px;
  height: 0px;
  left: -41px;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  border-radius: 4px;
}

.card__time::after {
  content: "";
  position: absolute;
  background-image: url(../images/icons/calendar-icon.svg);
  width: 15px;
  height: 15px;
  left: -23px;
  top: 50%;
  transform: translateY(-50%);
}

.card__reading-time {
  position: relative;
}

.card__reading-time::before {
  content: "";
  position: absolute;
  border: 1px solid #787a80;
  width: 12px;
  height: 0px;
  left: -41px;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  border-radius: 4px;
}

.card__reading-time::after {
  content: "";
  position: absolute;
  background-image: url(../images/icons/clock-icon.svg);
  width: 15px;
  height: 15px;
  left: -23px;
  top: 50%;
  transform: translateY(-50%);
}

.card__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
  margin-bottom: 8px;
}

.card__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  flex-grow: 1;
  margin-bottom: 16px;
}

.card__check {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #1e212c;
  position: relative;
  transition: all 0.3s;
}

.card:hover .card__check {
  color: #ff3f3a;
}

.card__check::after {
  content: "";
  position: absolute;
  background-image: url(../images/icons/arrow-right.svg);
  width: 24px;
  height: 24px;
  right: -32px;
  top: 50%;
  transform: translateY(-50%);
}

/* ----------------------------------------------------------------- CONTACT --------------------------------------------------------------------------- */

.main__contact {
  margin-bottom: 180px;
}

.contact__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.contact__content {
  margin-right: 30px;
}

.contact__heading {
  margin-bottom: 40px;
}

.contact__info {
  /* padding-left: 36px; */
  margin-bottom: 48px;
}

.contact__item {
  display: flex;
}

.contact__item--mail::before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../images/icons/message-icon.svg);
  margin-right: 12px;
}

.contact__item--phone::before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../images/icons/phone-icon.svg);
  margin-right: 12px;
}

.contact__item--adress::before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../images/icons/mark-icon.svg);
  margin-right: 12px;
}

.contact__message {
  font-weight: 700;
  font-size: 14px;
  color: #787a80;
  font-style: normal;
}

.contact__link {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #1e212c;
  margin-bottom: 24px;
}

.contact__link:hover {
  text-decoration: underline;
}

.contact__socials-follow {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 24px;
}

.contact__socials-box-list {
  display: flex;
  gap: 32px;
}

.contact__socials-link svg path {
  transition: all 0.3s;
}

.contact__socials-link:hover svg path {
  fill: #000;
}

/* ==================================================== CONTACTFORM ================================================================================= */

.main__form {
  margin-bottom: 130px;
}

.contactform__inner {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.contactform__heading {
  margin-bottom: 40px;
}

.contactform__content {
  margin-left: 30px;
  flex: 0 1 705px;
}

.contactform__row {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  margin-bottom: 24px;
}

.contactform__label {
  font-weight: 400;
  line-height: 160%;
  color: #424551;
  display: block;
  flex: 1;
}

.contactform__field {
  margin-top: 8px;
  padding: 13px 16px;
  border: 1px solid #d7dadd;
  border-radius: 4px;
  display: block;
  width: 100%;
}

.contactform__field::placeholder,
.contactform__textarea::placeholder {
  font-weight: 400;
  line-height: 160%;
  color: #9a9ca5;
}

.contactform__field:focus,
.contactform__textarea:focus {
  outline: none;
  border-color: #000;
}

.contactform__textarea-label {
  font-weight: 400;
  line-height: 160%;
  color: #424551;
  display: block;
}

.contactform__textarea {
  display: block;
  margin-top: 8px;
  border: 1px solid #d7dadd;
  border-radius: 4px;
  width: 100%;
  min-height: 128px;
  padding-top: 13px;
  padding-left: 16px;
  margin-bottom: 48px;
}

.contactform__checkbox-label {
  display: flex;
  margin-right: 25px;
}

.contactform__checkbox-label span {
  max-width: 287px;
}

.contactform__checkbox {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  margin-top: 5px;
  margin-right: 12px;
}

.contactform__default-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.contactform__default-checkbox:focus-visible+.contactform__custom-checkbox {
  outline: 2px solid #f73d05;
  outline-offset: 2px;
}

.contactform__default-checkbox:checked+.contactform__custom-checkbox {
  background: url(../images/icons/check.svg) no-repeat 50% 50%, #ff3f3a;
  border: none;
}

.contactform__custom-checkbox {
  position: absolute;
  border: 1px solid #424551;
  border-radius: 3px;
  inset: 0;
  cursor: pointer;
}

.contactform__button-box {
  flex-grow: 1;
}

.contactform__button {
  width: 100%;
  align-self: center;
}

/* ==================================================== FOOTER ================================================================================= */

.footer {
  color: #fff;
}

.footer__top {
  padding-top: 80px;
  padding-bottom: 60px;
  background: #1e212c;
}

.footer__top-inner {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.footer__content {
  max-width: 279px;
}

.footer__logo {
  margin-bottom: 24px;
  width: 130px;
}

.footer__text {
  margin-bottom: 38px;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  opacity: 0.6;
}

.footer__socials {
  display: flex;
  gap: 20px
}

.footer__socials-link path {
  transition: fill 0.3s;
}

.footer__socials-link:hover path {
  fill: #fff;
}

.footer__title {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 12px;
  white-space: nowrap;
}

.footer__sign .footer__title {
  white-space: normal;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer__link {
  opacity: 0.6;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  transition: opacity 0.3s;
  white-space: nowrap;
  display: flex;
  align-items: center;
}


.footer__link--phone-icon::before {
  content: "";
  width: 16px;
  height: 16px;
  background: url(../images/icons/phone-mini-icon.svg) no-repeat;
  margin-right: 8px;
}

.footer__link--mail-icon::before {
  content: "";
  width: 16px;
  height: 16px;
  background: url(../images/icons/mail.svg) no-repeat;
  margin-right: 8px;
}

.footer__link:hover {
  opacity: 1;
}

.footer__sign {
  max-width: 286px;
  display: flex;
  flex-direction: column;
}

.footer__form {
  margin-block: 12px;
  position: relative;
}

.footer__form-input {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.12);
  padding: 9px 12px;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  width: 100%;
}

.footer__form-input::placeholder {
  opacity: 0.6;
}

.footer__form-button {
  position: absolute;
  width: 16px;
  height: 16px;
  background: url(../images/icons/arrow-right-mini.svg);
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
}

.footer__form-input:-webkit-autofill,
.footer__form-input:-webkit-autofill:hover,
.footer__form-input:-webkit-autofill:focus {
  transition: background-color 5000000s ease-in-out 0s;

  -webkit-text-fill-color: #fff !important;
}

.footer__form-subscribe {
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
}

.footer__bottom {
  background: #272a34;
  padding: 20px 0;
}

.footer__bottom-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyrait {
  font-weight: 400;
  font-size: 12px;
}

.footer__bottom-text {
  font-weight: 400;
  font-size: 12px;
}

.footer__heart {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/icons/heart-icon.svg);
  vertical-align: sub;
}

.footer__go-top-link {
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  opacity: 0.6;
  text-transform: uppercase;
}